
@font-face {
    font-family: 'Monospace Custom';
    src: url('./assets/fonts/Logic-Font-family/logicmonospacetrial-regular.otf') format('truetype');
}

@font-face {
    font-family: 'Courier New Custom';
    src: url('./assets/fonts/courier-new/cour.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
  }
  

body {
    background-color: black;
    color: white; 
    margin: 0; 
    font-family: 'Monospace Custom', Courier, monospace; 
  
  }
  